#only-card.d-none
  .container
    .row.my-3.text-right
      .col-12.col-md-10.offset-md-1.col-lg-6.offset-lg-3
        .card-full-screen-toggler
          = octicon "screen-normal", height: 22, fill: '#C02C31'
    .row
      .col-12.col-md-10.offset-md-1.col-lg-6.offset-lg-3
        .jumbotron.p-3.brand-inverted.mb-2
          %p.pb-0.mb-0
            I do not wish to speak with you, answer your questions,
            or sign or hand you any documents based on my 5th
            Amendment rights under the United States Constitution.
          %p.pb-0.mb-0
            I do not give you permission to enter my home based
            on my 4th Amendment rights under the United States
            Constitution unless you have a warrant to enter, signed
            by a judge or magistrate with my name on it that you slide
            under the door.
          %p.pb-0.mb-0
            I do not give you permission to search any of my
            belongings based on my 4th Amendment rights.
          %p.pb-0.mb-0
            I choose to exercise my constitutional rights.
          %p.pb-0.mb-0
            These cards are available to citizens and noncitizens alike
#everything-else
  .fluid-container.brand-inverted.mb-3
    .container
      .row
        .col-12.col-md-6.offset-md-3.mt-2.mb-1.mt-md-5.mb-md-3
          -# %h1.primary-color
          -#   Digital Red Card
          -#   %a.ml-3{"aria-controls" => "show-help", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#show-help", :role => "button"}
          -#     = octicon "three-bars", height: 22, fill: '#fff', class: 'float-right'
          .row
            .col-8
              %h1.primary-color
                Digital Red Card
            .col-4
              .float-right
                %a{"aria-controls" => "show-help", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#show-help", :role => "button"}
                  = octicon "question", height: 22, fill: '#fff'
                %a.ml-3{"aria-controls" => "show-menu", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#show-menu", :role => "button"}
                  = octicon "three-bars", height: 22, fill: '#fff'
      .row
        -# .col-12.col-lg-8.offset-lg-2
        .col-12.col-md-10.offset-md-1.col-lg-6.offset-lg-3
          #show-help.collapse
            .row.text-center
              .col-12
                %p.mt-0.mb-4
                  All people in the United States, regardless of immigration status, have certain rights and protections under the U.S. Constitution. The ILRC’s Red Cards help people assert their rights and defend themselves in many situations, such as when ICE agents go to a home.
          #show-menu.collapse
            .row
              .col-12.text-right
                %a.white{ href: '/faqs' }
                  %p FAQs
                -# %a.white{ href: '/resources' }
                -#   %p Additional Resources
                %a.white{ href: '/contact' }
                  %p Contact
  .container
    .row.py-3.text-center
      .col-12.col-md-10.offset-md-1.col-lg-6.offset-lg-3
        %a{"aria-controls" => "show-instructions", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#show-instructions", :role => "button"}
          click for instructions
    .row
      .col-12.col-lg-8.offset-lg-2
        #show-instructions.collapse
          = render "instructions"
    .row
      .col-12.col-md-10.offset-md-1.col-lg-6.offset-lg-3
        .jumbotron.p-3.brand-inverted.mb-2
          %p.pb-0.mb-0
            I do not wish to speak with you, answer your questions,
            or sign or hand you any documents based on my 5th
            Amendment rights under the United States Constitution.
          %p.pb-0.mb-0
            I do not give you permission to enter my home based
            on my 4th Amendment rights under the United States
            Constitution unless you have a warrant to enter, signed
            by a judge or magistrate with my name on it that you slide
            under the door.
          %p.pb-0.mb-0
            I do not give you permission to search any of my
            belongings based on my 4th Amendment rights.
          %p.pb-0.mb-0
            I choose to exercise my constitutional rights.
          %p.pb-0.mb-0
            These cards are available to citizens and noncitizens alike. 
  .container
    .row
      .col-12.col-md-10.offset-md-1.mb-3.col-lg-6.offset-lg-3
        .row
          .col-10
          .col-2.text-right
            .card-full-screen-toggler
              = octicon "screen-full", height: 22, fill: '#C02C31'
  .container
    .row
      .col-12.col-md-10.offset-md-1.mb-3.col-lg-6.offset-lg-3
        %p Share:
        %a{target: '_blank', href: "mailto:?subject=Check out the Digital Red Card&body=Anyone, regardless of citizenship has 4th and 5th ammendment rights. See them here: https://redcardapp.herokuapp.com"}
          = octicon "mail", height: 32, fill: '#C02C31'
        %a.ml-3{"aria-controls" => "show-text", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#show-text", :role => "button"}
          = octicon "device-mobile", height: 32, fill: '#C02C31'
        %a.ml-3{"aria-controls" => "show-copy", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#show-copy", :role => "button"}
          = octicon "clippy", height: 32, fill: '#C02C31'
  #show-text.collapse
    .container
      .row
        .col-12.col-md-10.offset-md-1.mb-3.col-lg-6.offset-lg-3
          - if flash[:success]
            .alert.alert-success.alert-dismissible.fade.show{:role => "alert"}
              = flash[:success]                
          .alert.alert-danger
            Unfortunately, it costs money to send texts and this app is not funded. As such, this feature is disabled. If you're interested in helping, let me know here - given enough interest, we can come up with a proper solution.
          = render 'messages/form', message: @message
  #show-copy.collapse
    .container
      .row
        .col-12.col-md-10.offset-md-1.mb-3.col-lg-6.offset-lg-3
          .copyable-content-container.p-3
            .row
              .col-10
                .copyable-content
                  Anyone, regardless of citizenship has 4th and 5th ammendment rights. See them here: https://redcardapp.herokuapp.com
              .col-2
                .copy-link.btn.btn-primary.btn-block.btn-sm
                  copy
  .container.text-center.py-5
    .row
      .col-12.col-md-10.offset-md-1.mb-3.col-lg-6.offset-lg-3
        %a{ target: '_blank', href: 'https://www.ilrc.org/sites/default/files/documents/red_card-self_srv-english.pdf'}
          You can use this PDF to print physical copies
        %br
        or
        %br
        %a{ target: '_blank', href: 'https://www.ilrc.org/red-cards'}
          read more from the ILRC here.


:javascript
  $('.card-full-screen-toggler').on('click', function (event) {
    $('#only-card').toggleClass('d-none')
    $('#everything-else').toggleClass('d-none')
  })
  $(document).on('DOMContentLoaded', function() {
    var $copyLinks = $( '.copy-link' );
    $copyLinks.each( function() {
      $( this ).on( 'click', function( event ) {
        $( event.target ).text( function() { return "Copied!" } )

        var copySourceSelector = '.copyable-content'//event.target.dataset.copysource;
        var toBeCopied = $( copySourceSelector ).text()

        var $temp = $("<input>");
        $( "body" ).append( $temp );
        $temp.val( toBeCopied ).select();
        document.execCommand("copy");
        $temp.remove();
      })
    })
  })


-# .container
  -# .row
  -#   .col-12.col-md-6.offset-md-3.mb-3
  -#     %p
  -#       This App has been submitted to both the Apple and Google App Stores. Once it is availible, these badges will point to the appropriate locations.
  -# .row
  -#   .col-12.pb-3
  -#     %a{ href: '/' }
  -#       %img{ src: image_url('apple-store-badge.png') }
  -#     %a{ href: '/' }
  -#       %img{ width: 150, src: image_url('google-play-badge.png') }

-# .container
-#   .row
-#     .col-12
-#       %ul#pills-tab.nav.nav-pills.mb-3.justify-content-center{:role => "tablist"}
-#         %li.nav-item
-#           %a#pills-home-tab.nav-link.active{"aria-controls" => "pills-home", "aria-selected" => "true", "data-toggle" => "pill", :href => "#pills-home", :role => "tab"} Text Message
-#         %li.nav-item
-#           %a#pills-profile-tab.nav-link{"aria-controls" => "pills-profile", "aria-selected" => "false", "data-toggle" => "pill", :href => "#pills-profile", :role => "tab"} Email
-#       #pills-tabContent.tab-content
-#         #pills-home.tab-pane.fade.show.active{"aria-labelledby" => "pills-home-tab", :role => "tabpanel"}
-#           - if flash[:success]
-#             .row
-#               .col-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
-#                 .alert.alert-success.alert-dismissible.fade.show{:role => "alert"}
-#                   = flash[:success]                
-#           .row
-#             .col-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
-#               = render 'messages/form', message: @message
-#         #pills-profile.tab-pane.fade{"aria-labelledby" => "pills-profile-tab", :role => "tabpanel"}
-#           .row
-#             .col-12.col-md-6.offset-md-3
-#               .jumbotron.p-5.text-center
-#                 %p.p-0.mb-2
-#                   Our sincerest apologies. We have yet to implement the capacity to send a Red Card via email. Please visit us soon - we intend to add this feature.
-#                 %p.p-0.m-0
-#                   If you need this feature, please 
-#                   %a{href: '/contact'}
-#                     contact us
-#                   so that we can prioritize its development.
