= form_with(model: contact, local: true) do |form|
  - if contact.errors.any?
    #error_explanation
      %h2
        = pluralize(contact.errors.count, "error")
        prohibited this contact from being saved:
      %ul
        - contact.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :email
    = form.text_field :email, class: 'form-control mb-3', type: 'email'
  .field
    = form.label :subject
    = form.text_area :subject, class: 'form-control mb-3'
  .actions
    = form.submit 'Submit', class: 'btn btn-primary float-right'
