!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "/manifest.json", :rel => "manifest"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "#C50001", :name => "theme-color"}/
    %link{:href => asset_path('icon_192.png'), :rel => "apple-touch-icon"}/

    / COMMON TAGS
    %title Digital Red Card
    / Search Engine
    %meta{:content => "All people in the United States, regardless of immigration status, have certain rights and protections under the U.S. Constitution. The ILRC’s Red Cards help people assert their rights and defend themselves in many situations, such as when ICE agents go to a home.", :name => "description"}/
    %meta{:content => '/red_card_social_img.png', :name => "image"}/
    / Schema.org for Google
    %meta{:content => "Digital Red Card", :itemprop => "name"}/
    %meta{:content => "All people in the United States, regardless of immigration status, have certain rights and protections under the U.S. Constitution. The ILRC’s Red Cards help people assert their rights and defend themselves in many situations, such as when ICE agents go to a home.", :itemprop => "description"}/
    %meta{:content => '/red_card_social_img.png', :itemprop => "image"}/
    / Open Graph general (Facebook, Pinterest & Google+)
    %meta{:content => "Digital Red Card", :name => "og:title"}/
    %meta{:content => "All people in the United States, regardless of immigration status, have certain rights and protections under the U.S. Constitution. The ILRC’s Red Cards help people assert their rights and defend themselves in many situations, such as when ICE agents go to a home.", :name => "og:description"}/
    %meta{:content => '/red_card_social_img.png', :name => "og:image"}/
    %meta{:content => "https://www.digiredcard.com", :name => "og:url"}/
    %meta{:content => "Digital Red Card", :name => "og:site_name"}/
    %meta{:content => "website", :name => "og:type"}/


    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    -# = render 'layouts/nav'
    = yield
    :javascript
      if (navigator.serviceWorker) {
        navigator.serviceWorker.register('/service-worker.js', { scope: './' })
          .then(function (reg) {
            console.log('[Companion]', 'Service worker registered!');
            console.log(reg);
          });
      }
